Repository threefoldtech/tfgrid-sdk-go, pull requests merged in 2023-10, with the labels that each got.

#371 add docs for gridproxy database
  grid-proxy/cmds/proxy_server/main.go
  grid-proxy/docs/database.md
  grid-proxy/internal/explorer/db/postgres.go
Labels: grid-proxy

#327 add delay before trying to reconnect in rmb direct client
  rmb-sdk-go/direct/connection.go
Labels: rmb-sdk

#356 enhance contracts query
  grid-proxy/docs/docs.go
  grid-proxy/docs/swagger.json
  grid-proxy/docs/swagger.yaml
  grid-proxy/internal/explorer/converters.go
  grid-proxy/internal/explorer/db/postgres.go
  grid-proxy/internal/explorer/db/types.go
  grid-proxy/internal/explorer/helpers.go
  grid-proxy/internal/explorer/models.go
  grid-proxy/internal/explorer/server.go
  grid-proxy/pkg/client/grid_client.go
  grid-proxy/pkg/client/retrying_grid_client.go
  grid-proxy/pkg/client/retrying_grid_client_test.go
  grid-proxy/pkg/client/utils.go
  grid-proxy/pkg/types/types.go
  grid-proxy/tests/queries/contract_test.go
  grid-proxy/tests/queries/mock_client/contracts.go
  grid-proxy/tests/queries/mock_client/loader.go
Labels: grid-proxy

#388 fix duplicated nodes record
  grid-proxy/internal/explorer/db/postgres.go
  grid-proxy/tests/queries/mock_client/nodes.go
  grid-proxy/tests/queries/node_test.go
Labels: grid-proxy

#413 update go version
  .github/workflows/activation-lint-test.yml
  .github/workflows/grid3-go-integration.yml
  .github/workflows/grid3-go-lint.yml
  .github/workflows/grid3-go-test.yml
  .github/workflows/gridify-lint.yml
  .github/workflows/gridify-test.yml
  .github/workflows/gridproxy-build.yml
  .github/workflows/gridproxy-integrationtests.yml
  .github/workflows/gridproxy-unittests.yml
  .github/workflows/monbot-lint.yml
  .github/workflows/monbot-test.yml
  .github/workflows/release.yml
  .github/workflows/rmb_test.yml
  .github/workflows/tf-grid-cli-lint.yml
  .github/workflows/tf-grid-cli-test.yml
  activation-service/go.mod
  activation-service/go.sum
  go.work
  go.work.sum
  grid-cli/go.mod
  grid-cli/go.sum
  grid-client/deployer/deployment_deployer_test.go
  grid-client/deployer/gateway_fqdn_deployer_test.go
  grid-client/go.mod
  grid-client/go.sum
  grid-client/integration_tests/batch_vm_test.go
  grid-client/mocks/grid_client_mock.go
  grid-client/node/client_pool.go
  grid-client/node/node.go
  grid-client/workloads/qsfs.go
  grid-client/workloads/zlog.go
  grid-proxy/go.mod
  grid-proxy/go.sum
  gridify/cmd/root.go
  gridify/go.mod
  gridify/go.sum
  gridify/internal/cmd/deploy.go
  gridify/internal/cmd/random.go
  gridify/internal/deployer/builder.go
  gridify/internal/deployer/deployer.go
  gridify/internal/deployer/deployer_test.go
  monitoring-bot/go.mod
  monitoring-bot/go.sum
  rmb-sdk-go/go.mod
  rmb-sdk-go/go.sum
Labels: state_inprogress, grid-client, gridify

#359 refactoring generate.go queries
  grid-proxy/tests/queries/mock_client/farms.go
  grid-proxy/tools/db/generate.go
  grid-proxy/tools/db/types.go
  grid-proxy/tools/db/utils.go
  grid-proxy/tools/db/utils_test.go
Labels: grid-proxy

#328 enhance gpu node indexer
  grid-proxy/internal/explorer/db/postgres.go
  grid-proxy/internal/explorer/db/types.go
  grid-proxy/internal/gpuindexer/gpuindexer.go
Labels: grid-proxy
